.nav-bar {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.2px solid rgb(202, 202, 202);
    height: 23px;
    padding: 10px;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-left button {
    padding-right: 10px;
    background: none;
    border: none;
}

.nav-left button img {
    max-width: 15px;
}

.nav-center {
    display: flex;
    align-items: center;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 4fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
}

.main h2 {
    padding-top: 50px;
    grid-column-start: 3;
    font-size: 40px;
    grid-row-start: 1;
}

.main img {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: span 3;
    width: 100%;
}

.main figcaption {
    letter-spacing: .01em;
    grid-row-start: 4;
    grid-column-start: 2;
    grid-column-end: span 3;
    font-size: 14px;
}

.main figcaption span {
    font-size: 12px;
}

.article-info {
    grid-row-start: 5;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 3;
    padding-top: 30px;
    
}

.article-info h4 {
    padding-top: 30px;
}

.article-info-bottom {
    display: flex;
    justify-content: space-between;
}



.img-icon a img{
    padding-top: 25px;
    width: 25px;
}

.main-article{
    
}




